.episode-list-container {
    text-align: center;
    padding: 0 2em;
}

.episode-list {
    display: grid;
    row-gap: 2em;
    column-gap: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}